@import url('https://fonts.googleapis.com/css?family=VT323');

#timer-con {
    height: 500px;
    width: 580px;
    background-color: yellowgreen;
    margin: 5rem auto;
    background: url('../../assets/tomato.png') no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;

    .timer {
        font-size: 12rem;
        font-family: 'VT323', monospace;
        font-weight: bold;
    }

    .btn {
        font-size: 1.2rem;
        padding: .75rem 2.5rem;
        margin: .5rem;
        border-radius: .25rem;
        color: #fff;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        transform: translateY(-1px);
        transition: .2s;
    }

    .btn:focus {
        box-shadow: none;
        transform: translate(0);
        outline: none;
    }

    .start {
        background-color: #00A300;
        box-shadow: 2px 2px 2px rgb(4, 78, 4);
    }

    .reset {
        background-color: #0000A3;
        box-shadow: 2px 2px 2px rgb(1, 1, 43);

    }
}

@media(max-width: 700px) {
    #timer-con {
        width: 300px;
        height: 280px;

        .timer {
            font-size: 6rem;
        }

        .btn {
            font-size: 1rem;
            padding: .5rem 1.5rem;
        }
    }
}